* {}

.dropdown {
    position: relative;
    display: inline-block;
}


/*sub-menu*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: cadetblue;
    z-index: 1;
    list-style: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.price {
    color: brown;
    font-weight: bold;
    font-size: larger
}

strike {
    font-style: italic;
    font-size: small;
    font-weight: 900;
}

#thumbnail {
    overflow: hidden;
    border: 1px solid #f3cbcb;
}

#thumbnail img {
    width: 100%;
    transition-duration: 0.3s;
}

#thumbnail img:hover {
    transform: scale(1.2);
}

#tittle01 {
    margin-left: 12%;
    color: darkslategrey;
    font-style: oblique;
}

#bannerSale {
    width: 100%;
    padding: 1% 0;
}

#itemDetail {
    margin: auto;
    width: 75%;
    overflow: hidden;
    padding-bottom: 1%;
}

#itemDetail img {
    width: 100%;
    transition-duration: 0.3s;
}

#itemDetail img:hover {
    transform: scale(1.2)
}

#itemDetail h3 {
    color: #0033CC;
    text-align: center;
    padding-top: 5%;
}

.detailContent {
    width: 75%;
    margin: auto;
    padding: 1% 0 3% 0;
}

.titleDetail {
    font-size: 30px;
}